<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Birth</key>
	<dict>
		<key>Sentance</key>
		<string>She was born Maria Sklodowska in 1867 in Warsaw, Poland, as the youngest of five children in her family.</string>
		<key>CPIDR</key>
		<integer>0</integer>
	</dict>
	<key>Religion</key>
	<dict>
		<key>Sentance</key>
		<string>Raised by a Catholic mother and an atheist father, she became agnostic after her mother&apos;s death.</string>
		<key>CPIDR</key>
		<integer>0</integer>
	</dict>
	<key>Discovery</key>
	<dict>
		<key>Sentance</key>
		<string>Along with her husband, she discovered two different elements, Polonium and Radium in the same year.</string>
		<key>CPIDR</key>
		<integer>0</integer>
	</dict>
	<key>Award</key>
	<dict>
		<key>Sentance</key>
		<string>She was the only person to win Nobel Prizes in different fields, one in Physics and another one in Chemistry.</string>
		<key>CPIDR</key>
		<integer>0</integer>
	</dict>
	<key>Early finding</key>
	<dict>
		<key>Sentance</key>
		<string>In her early research with uranium, she showed that atoms were divisible, which led to the creation of atomic physics.</string>
		<key>CPIDR</key>
		<integer>0</integer>
	</dict>
	<key>Wedding</key>
	<dict>
		<key>Sentance</key>
		<string>Instead of wearing a bridal grown, she worn a dark blue dress, which served her for many years as a laboratory outfit.</string>
		<key>CPIDR</key>
		<integer>0</integer>
	</dict>
	<key>Death</key>
	<dict>
		<key>Sentance</key>
		<string>She died of aplastic anemia due to prolonged exposure to radiation, but she never acknowledged the health risks of it.</string>
		<key>CPIDR</key>
		<integer>0</integer>
	</dict>
	<key>Parents</key>
	<dict>
		<key>Sentance</key>
		<string>Her passion for science was inspired by her father, a physics teacher who showed his children his lab equipment.</string>
		<key>CPIDR</key>
		<integer>0</integer>
	</dict>
	<key>Spouse</key>
	<dict>
		<key>Sentance</key>
		<string>Her husband Pierre researched magnetism, but a contemporary quipped that his greatest discovery was Marie. </string>
		<key>CPIDR</key>
		<integer>0</integer>
	</dict>
	<key>Poverty</key>
	<dict>
		<key>Sentance</key>
		<string>To afford university tuition and living expense, she studied during the day and worked as a tutor in the evening.</string>
		<key>CPIDR</key>
		<integer>0</integer>
	</dict>
	<key>Education</key>
	<dict>
		<key>Sentance</key>
		<string>Prohibited from higher education in her native country because she was a woman, she moved to Paris where she got a PhD.</string>
		<key>CPIDR</key>
		<integer>0</integer>
	</dict>
	<key>Danger</key>
	<dict>
		<key>Sentance</key>
		<string>Her work-related papers are highly radioactive, and those who wish to consult them must wear protective clothing.</string>
		<key>CPIDR</key>
		<integer>0</integer>
	</dict>
</dict>
</plist>
