<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Birth</key>
	<dict>
		<key>Sentance</key>
		<string>In 1642, the same year that Galileo died, he was born in a small sheep-rearing village in the east of England.</string>
		<key>CPIDR</key>
		<integer>12</integer>
	</dict>
	<key>Choice</key>
	<dict>
		<key>Sentance</key>
		<string>His mother wanted him to become a farmer like his father, but he hated it and she was persuaded to send him to school.</string>
		<key>CPIDR</key>
		<integer>11</integer>
	</dict>
	<key>Prediction</key>
	<dict>
		<key>Sentance</key>
		<string>Based on his studies of the Bible, he estimated that the world would end no sooner than 2060.</string>
		<key>CPIDR</key>
		<integer>10</integer>
	</dict>
	<key>Ambition</key>
	<dict>
		<key>Sentance</key>
		<string>He was obsessed with alchemy and spent half his lifetime in a vain search for the philosopher&apos;s stone.</string>
		<key>CPIDR</key>
		<integer>9</integer>
	</dict>
	<key>Politician</key>
	<dict>
		<key>Sentance</key>
		<string>While serving as a member of Parliament, he spoke only once, and that was to request that a window be closed.</string>
		<key>CPIDR</key>
		<integer>12</integer>
	</dict>
	<key>Romance</key>
	<dict>
		<key>Sentance</key>
		<string>He never married or had any romantic relationships, resulting in a widespread belief that he died a virgin.</string>
		<key>CPIDR</key>
		<integer>12</integer>
	</dict>
	<key>Tooth</key>
	<dict>
		<key>Sentance</key>
		<string>In 1816, one of his teeth was sold for an exorbitant amount and made into a ring, but no one knows where it is now.</string>
		<key>CPIDR</key>
		<integer>12</integer>
	</dict>
	<key>Skills</key>
	<dict>
		<key>Sentance</key>
		<string>He was good with his hands and built his own research tools, including the first practical telescope.</string>
		<key>CPIDR</key>
		<integer>10</integer>
	</dict>
	<key>Infancy</key>
	<dict>
		<key>Sentance</key>
		<string>Born prematurely, he was a small baby, and his mother stated that he could have fit inside a quart mug.</string>
		<key>CPIDR</key>
		<integer>10</integer>
	</dict>
	<key>Homework</key>
	<dict>
		<key>Sentance</key>
		<string>He developed theories on calculus at home when his university closed as a precaution against the Great Plague. </string>
		<key>CPIDR</key>
		<integer>8</integer>
	</dict>
	<key>Secrets</key>
	<dict>
		<key>Sentance</key>
		<string>He was secretive in his scientific and mathematical discoveries, which led to many quarrels over credit.</string>
		<key>CPIDR</key>
		<integer>10</integer>
	</dict>
	<key>Confession</key>
	<dict>
		<key>Sentance</key>
		<string>As a teenager, he considered himself as a sinner and wrote a list of 48 sins he committed, like punching his sister.</string>
		<key>CPIDR</key>
		<integer>11</integer>
	</dict>
</dict>
</plist>
