<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Origins</key>
	<dict>
		<key>Sentance</key>
		<string>As the youngest of five children in her family, she was born in 1867 in Warsaw, in the Russian partition of Poland.</string>
		<key>CPIDR</key>
		<integer>12</integer>
	</dict>
	<key>Religion</key>
	<dict>
		<key>Sentance</key>
		<string>8</string>
		<key>CPIDR</key>
		<integer>9</integer>
	</dict>
	<key>Discovery</key>
	<dict>
		<key>Sentance</key>
		<string>Working with her husband, she discovered two different elements, polonium and radium in the same year.</string>
		<key>CPIDR</key>
		<integer>8</integer>
	</dict>
	<key>Award</key>
	<dict>
		<key>Sentance</key>
		<real>0</real>
		<key>CPIDR</key>
		<integer>11</integer>
	</dict>
	<key>Contribution</key>
	<dict>
		<key>Sentance</key>
		<string>In her early research with uranium, she showed that atoms were divisible, which led to the creation of atomic physics.</string>
		<key>CPIDR</key>
		<integer>12</integer>
	</dict>
	<key>Wedding</key>
	<dict>
		<key>Sentance</key>
		<string>Instead of wearing a bridal grown, she wore a dark blue dress, which served her for many years as a laboratory outfit.</string>
		<key>CPIDR</key>
		<integer>13</integer>
	</dict>
	<key>Ignorance</key>
	<dict>
		<key>Sentance</key>
		<string>She died of aplastic anemia due to prolonged exposure to radiation, but she never realized the health risks of her work.</string>
		<key>CPIDR</key>
		<integer>12</integer>
	</dict>
	<key>Encouragement</key>
	<dict>
		<key>Sentance</key>
		<string>She was inspired by her father, a physics teacher who allowed his children to play with his lab equipment at home.</string>
		<key>CPIDR</key>
		<integer>10</integer>
	</dict>
	<key>Spouse</key>
	<dict>
		<key>Sentance</key>
		<string>Her husband Pierre researched magnetism, but a contemporary quipped that his greatest discovery was Marie. </string>
		<key>CPIDR</key>
		<integer>8</integer>
	</dict>
	<key>Struggle</key>
	<dict>
		<key>Sentance</key>
		<string>To afford university tuition and living expense, she studied during the day and worked as a tutor in the evening.</string>
		<key>CPIDR</key>
		<integer>9</integer>
	</dict>
	<key>Education</key>
	<dict>
		<key>Sentance</key>
		<string>As a woman, she was barred from higher education in her native country and moved to Paris to earn her doctorate.</string>
		<key>CPIDR</key>
		<integer>12</integer>
	</dict>
	<key>Danger</key>
	<dict>
		<key>Sentance</key>
		<string>Her work-related papers are still radioactive, and those who wish to consult them must wear protective clothing.</string>
		<key>CPIDR</key>
		<integer>11</integer>
	</dict>
</dict>
</plist>
