<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Family</key>
	<dict>
		<key>Sentance</key>
		<string>She was born in a Catholic and wealthy family and had one older brother and one older sister.</string>
		<key>CPIDR</key>
		<integer>11</integer>
	</dict>
	<key>Kindness</key>
	<dict>
		<key>Sentance</key>
		<string>During her travels, she used to collect leftover food from people on the plane and give it to hungry people. </string>
		<key>CPIDR</key>
		<integer>11</integer>
	</dict>
	<key>Vocation</key>
	<dict>
		<key>Sentance</key>
		<string>She was fascinated with missionaries, and by the age of 12, knew that she would commit herself to a religious vocation.</string>
		<key>CPIDR</key>
		<integer>10</integer>
	</dict>
	<key>Decision</key>
	<dict>
		<key>Sentance</key>
		<string>She left home to join the Sisters of Loreto, based in Ireland, when she was 18, and never saw her mother again.</string>
		<key>CPIDR</key>
		<integer>12</integer>
	</dict>
	<key>Priority</key>
	<dict>
		<key>Sentance</key>
		<string>She was once scheduled to meet the Pope but postponed the meeting because she was too busy working with the poor.</string>
		<key>CPIDR</key>
		<integer>10</integer>
	</dict>
	<key>Naming</key>
	<dict>
		<key>Sentance</key>
		<string>Teresa was actually the second name she chose, she changed her original name because another nun already chosen it.</string>
		<key>CPIDR</key>
		<integer>10</integer>
	</dict>
	<key>Mission</key>
	<dict>
		<key>Sentance</key>
		<string>She taught history and geography in a girls&apos; high school for 15 years, but was distressed by the poverty around her.</string>
		<key>CPIDR</key>
		<integer>11</integer>
	</dict>
	<key>Communication</key>
	<dict>
		<key>Sentance</key>
		<string>She was able to speak fluently in five different languages, including English, which she studied in Ireland for a year.</string>
		<key>CPIDR</key>
		<integer>11</integer>
	</dict>
	<key>Tragedy</key>
	<dict>
		<key>Sentance</key>
		<string>Some speculated that her father may have been poisoned to death because of his dedication to Albanian Independence.</string>
		<key>CPIDR</key>
		<integer>10</integer>
	</dict>
	<key>Teaching</key>
	<dict>
		<key>Sentance</key>
		<string>With no income or supplies, she taught the children in the slums to read and write by writing in the dirt with sticks.</string>
		<key>CPIDR</key>
		<integer>12</integer>
	</dict>
	<key>Gift</key>
	<dict>
		<key>Sentance</key>
		<string>When awarded the Nobel in 1979, she refused the traditional banquet and asked that the funds be sent to India.</string>
		<key>CPIDR</key>
		<integer>10</integer>
	</dict>
	<key>Controversy</key>
	<dict>
		<key>Sentance</key>
		<string>She was criticised for using her celebrity status to promote the Church&apos;s moral teachings on abortion and birth control.</string>
		<key>CPIDR</key>
		<integer>8</integer>
	</dict>
</dict>
</plist>
