<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Oyster</key>
	<dict>
		<key>Sentance</key>
		<string>The Eastern oyster, which is a bivalve mollusk, thrives naturally in Connecticut’s rivers and embayments.</string>
		<key>CPIDR</key>
		<integer>7</integer>
	</dict>
	<key>Nickname</key>
	<dict>
		<key>Sentance</key>
		<string>Connecticut is unofficially known as the “Nutmeg State,” because sailors returned here from voyages with that spice.</string>
		<key>CPIDR</key>
		<integer>9</integer>
	</dict>
	<key>Telephone</key>
	<dict>
		<key>Sentance</key>
		<string>It was in New Haven in 1878 that Alexander Graham Bell set up the first telephone conversation.</string>
		<key>CPIDR</key>
		<integer>7</integer>
	</dict>
	<key>Flower</key>
	<dict>
		<key>Sentance</key>
		<string>The Mountain Laurel is a popular flower that swathes the hills in pink and white, mostly in the spring.</string>
		<key>CPIDR</key>
		<integer>9</integer>
	</dict>
	<key>Cathedral</key>
	<dict>
		<key>Sentance</key>
		<string>The cathedral of St. Joseph in Hartford is noted for its spectacular stained-glass windows that line the nave.</string>
		<key>CPIDR</key>
		<integer>8</integer>
	</dict>
	<key>Morey</key>
	<dict>
		<key>Sentance</key>
		<string>Samuel Morey invented the internal combustion engine in 1792, which helped the invention of the automobile.</string>
		<key>CPIDR</key>
		<integer>7</integer>
	</dict>
</dict>
</plist>
